*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.check {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.checkkar {
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgcheck {
    background: linear-gradient(90deg, #075418 0%, #70BC2D 176.4%);

}